<div class="row">
  <span class="contact-name">{{ name }}</span>
  <span class="contact-email">{{ email }}</span>
  <span class="contact-phone">{{ phone }}</span>
  <span class="contact-twitter">{{ twitter }}</span>
  <span class="contact-ig">{{ instagram }}</span>
</div>
