<div class="row">

  <span class="contact-name col-md-2 col-md-offset-1">{{ name }}</span>
  <span class="contact-email col-md-2">{{ email }}</span>
  <span class="contact-phone col-md-2">{{ phone }}</span>
  <span class="contact-twitter col-md-2">{{ twitter }}</span>
  <span class="contact-ig col-md-2 ">{{ instagram }}</span>
</div>
